<section class="max-w-full overflow-hidden">
    <!-- Banner Image Section -->
    <div class="sign-on-banner-hero relative overflow-hidden mb-0 min-h-[400px] md:h-[620px]">
        <!-- Background Image -->
        <div class="absolute inset-0 z-0">
            <img src="/homeBtmBanner.jpeg" alt="Empowerment" class="w-full h-full object-cover object-top" />
        </div>

        <!-- Content Container -->
        <div
            class="sign-on-banner-content max-w-7xl mx-auto px-4 h-full relative z-10 flex flex-col justify-start pt-16 md:pt-36">
            <div class="sign-on-banner-inner max-w-4xl md:-ml-10">
                <h2 class="sign-on-banner-heading mb-6 md:mb-10 text-[20px] sm:text-[36px] md:text-[50px] tracking-normal sm:tracking-[2px] md:tracking-[4px]"
                    style="font-family: 'Rethink Sans', sans-serif; color: #ffffff; line-height: 1.2; font-weight: 600 !important; text-transform: uppercase;">
                    EMPOWER YOUR CLIENTS TO<br class="hidden md:block"> PRIORITIZE THEIR HEALTH <br class="md:hidden">
                    PERMANENTLY
                </h2>
                <a [href]="reecoachApplicationUrl" target="_blank"
                    class="sign-on-banner-cta bg-[#47CBB6] px-6 py-2.5 md:px-8 md:py-3 rounded-sm font-bold inline-block hover:bg-[#3ab5a1] transition-all uppercase cursor-pointer tracking-[1px] md:tracking-[2px] mt-6 md:mt-12 whitespace-nowrap text-[14px] md:text-[15px] text-[#000000]">
                    CLICK HERE TO SIGN UP
                </a>
            </div>


        </div>
    </div>


</section>