<section class="py-6 bg-white">
    <div class="max-w-7xl mx-auto px-4">
        <h2 class="custom-section-title mb-4 text-[24px] sm:text-[30px] md:text-[35px]">One Platform For Every Practice
        </h2>
        <p class="section-subtitle text-none mb-6 text-[18px] sm:text-[22px] md:text-[25px]"
            style="color: #333333 !important;">Whether you're a solo dietitian or a multi-clinic <br
                class="hidden md:block"> institution –
            ReeCoach adapts to your workflow</p>

        <div class="flex justify-center mb-16">
            <img src="/Multi-clinic.png" alt="Multi-clinic Practice Types" class="max-w-full h-auto" />
        </div>

        <div class="text-center">
            <button routerLink="/become-a-reecoach"
                class="inline-block text-center cursor-pointer transition-all hover:bg-[#00c4a7] focus:outline-none focus:ring-2 focus:ring-[#00D4B7]/50"
                style="background-color: #00D4B7; font-family: 'Rethink Sans', sans-serif; font-weight: 500; font-size: 20px; color: #FFFFFF; fill: #FFFFFF; padding: 10px 20px; border-radius: 3px; line-height: 1;">Know
                More</button>
        </div>
    </div>
</section>