<section class="py-6">
    <div class="max-w-7xl mx-auto px-4 text-center">
        <h2 class="section-title-black text-none pt-4 mb-4 text-[24px] sm:text-[30px] md:text-[35px]"
            style="color: #232323 !important; font-weight: 600;">The gift of Time x Intelligence is Here</h2>
        <h3 style="font-family: 'Rethink Sans', sans-serif; font-weight: 700; letter-spacing: 2px; color: #1F6861;"
            class="text-none mb-3 text-[18px] sm:text-[22px] md:text-[27px]">ReeCoach + ReeWork</h3>

        <div class="relative w-full max-w-[800px] h-auto min-h-[250px] md:h-[450px] mx-auto">
            <div class="w-full h-full">
                <img src="/imgi_49_reeworkreecoach.png"
                    alt="App Showcase" class="rounded-2xl mx-auto w-full h-full object-contain" />
            </div>
        </div>
    </div>
</section>