<app-hero></app-hero>
<app-partner-movement></app-partner-movement>
<app-intelligence-section></app-intelligence-section>

<div class="pt-8">
    <app-features-grid title="Why You Need ReeCoach?" subtitle="Simplify your dietetic practice with:"
        [items]="coachFeatures">
    </app-features-grid>
</div>

<app-founder-section></app-founder-section>
<app-practice-section></app-practice-section>
<app-go-digital-banner></app-go-digital-banner>

<app-features-grid title="Why Your Client's Need Reework?" subtitle="Simplify your client's experience with:"
    [items]="clientFeatures" [addTopPadding]="true" [showViewMore]="false" [imageHeight]="114" [imageWidth]="114"
    [extraSubtitleSpacing]="true">
</app-features-grid>

<app-testimonials id="testimonials"></app-testimonials>
<app-faq-section id="faqs"></app-faq-section>
<app-sign-on-banner></app-sign-on-banner>